@page "/network_Scanner"
@attribute [StreamRendering]

<PageTitle>Network Scanner terminal</PageTitle>

<h1>Hello, wodfgdfgrld! aAAAAAAaaaaAaaaa</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
private void 
}